<div id="wrapper">
  <h4>Not A Review</h4>
<form class="formGroup">

  <h2>Sign In to Your Account</h2>
  <input
    [(ngModel)]="accountName"
    required
    ngModel
    name='name'
    #username="ngModel"
    type="text"
    class="form-control"
    placeholder="Username">
  <div class="inputValid"
    *ngIf="username.touched && !username.valid">
      Username is required
    </div>
  <input
    required
    ngModel
    name='password'
    #password="ngModel"
    class="form-control"
    type="password"
    placeholder="password"  >
  <div class="inputValid"
    *ngIf="password.touched && !password.valid">
      Password is required
    </div>
  <button (click)="passData()">Sign In</button>
</form>
</div>

